<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MenuGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MenuGenerator.Properties.Settings>
            <setting name="sdfete" serializeAs="String">
                <value>D8bURT+3KawdnWg554H4sg==</value>
            </setting>
            <setting name="vasdge" serializeAs="String">
                <value>eMPcf9gU7W6EAAzGyf1yhQ==</value>
            </setting>
            <setting name="e4frga" serializeAs="String">
                <value>M0LnkY0yGrLY5NDKnDH94g==</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value />
            </setting>
            <setting name="DataBase" serializeAs="String">
                <value />
            </setting>
            <setting name="User" serializeAs="String">
                <value />
            </setting>
            <setting name="Pass" serializeAs="String">
                <value />
            </setting>
            <setting name="e4frg2" serializeAs="String">
                <value>0IoNCnrPKz7JR5lG51Dxrg==</value>
            </setting>
        </MenuGenerator.Properties.Settings>
    </userSettings>
</configuration>